/*common*/

body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 35px;
}

/* nav related styles */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
}

.nav-tittle {

    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #181818;
}

/* header related style*/
.header {
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-picture {
    width: 500px;
}

.greetings {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px:
}

.banner-tittle {
    color: #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}

/*main section style*/
main {
    width: 1140px;
    margin: 0px auto;
}

/*about related */
.about {
    padding: 130px;
    margin: 130px 0px;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-tittle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.section-description {
    padding: 0px 157px 0px 156px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 100px;
    gap: 50px;
}

.about-info {
    text-align: center;
}